@{
    ViewData["Title"] = "Mentor Dashboard";
    var email = ViewData["Email"] as string;
}
<br />
<br />
<br />
<div class="d-flex justify-content-center">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 400px; height:400px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi pe-none me-2" width="70" height="60"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4"><strong>Mentor Dashboard</strong></span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a asp-controller="Mentor" asp-action="EditProfileForMentor" asp-route-email="@email"class="nav-link mentorBtn" aria-current="page">
                    <svg class="bi pe-none me-2" width="16" height="16"></svg>
                    Edit Profile
                </a>
            </li>
            <li>
                <a asp-controller="Mentor" asp-action="MeetingRequests" class="nav-link mentorBtn" aria-current="page">
                    <svg class="bi pe-none me-2" width="16" height="16"></svg>
                    Meeting requests
                </a>
            </li>
        </ul>
        <hr>
    </div>
</div>
