@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4"></h1>
    <br />
    @if (User.IsInRole("Admin"))
    {
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">Welcome</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Edit, remove and manage users of this website.</p>
            </div>
        </div>
    }
    else if (User.IsInRole("Mentor"))
    {
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">Welcome</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Raise a request to become mentor, view and accept meetings.</p>
            </div>
        </div>
    }
    else if (!User.IsInRole("Student"))
    {
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">Welcome</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Learn, connect and excel in your career now!</p>
            </div>
        </div>
    }
</div>
